.about-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 842px;
  width: 95%;
  margin: 100px auto 20px;
}

.about-margin {
  margin: 40px 0;
}

.about-title {
  font-size: 2.0625rem;
  font-weight: 500;
  line-height: 124%;
  padding: 0;
  margin-bottom: 24px;
}
