:root {
  --primaryColor: #008855;
  --secondaryColor: #ff5000;
  --tertiaryColor: #e5e470;
  --quaternaryColor: #46aaea;
  --quinaryColor: #f9c5a5;
  --senaryColor: #2a2a2a;
  --septenaryColor: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Albert Sans";
  font-size: 19px;
  overflow-x: hidden;
}

h1 {
font-size: 3.75rem;
font-weight: 400;
line-height: 100%;
}

h2,summary {
  padding: 80px 120px;
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 454px) {
  h2 {
    padding: 40px 60px;
  }
}

summary {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid black;
}

summary::after {
  text-align: center;
  content:"+";
  color: #46AAEA;
  transition: 0.3s;
  transform-origin: center;
}

details[open] > summary::after {
  transform: rotate(45deg) 
}

h3 {
  font-size: 2.0625rem;
  font-weight: 500;
  line-height: 124%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: var(--septenaryColor);
  text-decoration: none;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}