:root {
  --primaryColor: #008855;
  --secondaryColor: #ff5000;
  --tertiaryColor: #e5e470;
  --quaternaryColor: #46aaea;
  --quinaryColor: #f9c5a5;
  --senaryColor: #2a2a2a;
  --septenaryColor: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Albert Sans";
}

h2 {
  padding: 80px 120px;
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 454px) {
  h2 {
    padding: 40px 60px;
  }
}

h3 {
  font-size: 2.0625rem;
  font-weight: 500;
  line-height: 124%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: var(--septenaryColor);
  text-decoration: none;
}
