.hero {
  height: 91vh;
  position: relative;
}
@media (max-width: 768px) {
  .hero {
    height: 96vh;
  }
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 50%;
}

.hero__overlay {
  bottom: 30px;
  left: 30px;
  position: absolute;
}
@media (max-width: 1175px) {
  .hero__overlay {
    display: none;
  }
}

.hero__overlay--small {
  display: none;
}
@media (max-width: 1175px) {
  .hero__overlay--small {
    display: block;
  }
}

.hero__arrow {
  bottom: 30px;
  right: 30px;
  width: 50px;
  position: absolute;
}
@media (max-width: 1175px) {
  .hero__arrow {
    width: 20px;
  }
}
