/* General elements styling
====================================== */
.uppercase-text {
  text-transform: uppercase;
}

.source {
  margin-top: 40px;
  padding-left: 40px;
  font-style: italic;
}

.container-spacing {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.container-flex--gap {
  display: flex;
  gap: 8px;
}

.overlay-container {
  position: relative;
  width: 100%;
}

.overlay-image {
  position: absolute;
}

.list-flex {
  display: flex;
  padding: 0;
  gap: 10px;
}

.list {
  padding-left: 40px;
}

.list-item {
  list-style-type: square;
}


.text--primary {
  color: var(--septenaryColor);
}

.text--secondary {
  color: var(--primaryColor);
}

.image-border {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 6px;
}

.text-underline {
  text-decoration: underline;
}

.slashes::before,
.slashes:after {
  content: " / ";
}



.schedule {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
}

.link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link--primary {
  color: var(--senaryColor);
  text-decoration: underline;
}

.link--secondary {
  color: var(--senaryColor);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 40px;
}


/* footer styling
====================================== */



/* About page styling
============================================== */

.about-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 842px;
  width: 95%;
  margin: 0 auto 20px;
  padding-top: 100px;
}

.image-padding {
  margin: 40px 0;
}

/* Exhibition styling
=============================== */
.exhibition-container {
  max-width: 1272px;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.exhibition {
  border-bottom: 1px solid black;
}

.exhibition__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.exhibition__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.exhibition__item {
  flex-basis: 45%;
  flex-grow: 1;
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 950px;
  width: 90%;
  padding-top: 80px;
}

@media (max-width: 767px) {
  .video-container {
    margin: 0 auto;
  }
}

.preview {
  padding: 80px 120px 40px 0;
}

@media (max-width: 742px) {
  .preview {
    padding: 40px 0 24px;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.events__container--exhibition {
  margin-top: 0;
}

/* history styling
================================ */
.history-main {
display: flex;
}

@media (max-width: 768px) {
  .history-main {
    flex-direction: column;
  }
}
.history-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 966px;
  width: 95%;
  margin: 80px 80px 56px 0;
  padding-left: 40px;
}

.history-title {
  padding: 0;
  border-top: 1px solid black;
}

.container-flex-history {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.history-text {
display: flex;
flex-direction: column;
gap: 24px;
flex: 1 1 50%;
}

.history-image {
height: fit-content;
}

.collection {
  background-color: var(--senaryColor);
}

.collection__title {
  border-bottom: 1px solid white;
  color: white;
  padding: 16px 120px;
}
@media (max-width: 627px) {
  .collection__title {
    padding: 16px 16px;
  }
}

.collection__items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 120px;
}

@media (max-width: 768px){
.collection__items {
  padding: 0;
}
}

.collection__item {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
gap: 20px;
flex-basis:25%;
padding: 30px;
border-right: 1px solid white;
}
@media (max-width: 958px) {
  .collection__item {
    flex: 1 1 51%;
    border-right: none;
    border-top: 1px solid white;
  }
  .collection__item:nth-child(1) {
    border-top: none;
  }
}

.collection__item:nth-child(4) {
  border-right: none;
}

.sidenav {
  position:sticky;
  height: 200px;
  width: 300px;
  top: 174px;
  left: 0;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  border-right: 1px solid black;
}

@media (max-width: 768px) {
  .sidenav {
    top: 49px;
    align-items: flex-start;
    width: calc(100% - 53px);
    border-right: none;
  }
}

.sidenav a:hover {
  color: white;
}

/* Visit styling
============================= */

.visit-container {
  display: flex;
  flex-direction: column;
  max-width: 842px;
  width: 95%;
  margin: 80px auto;
  gap: 40px;
}


.visit-container h2 {
  padding: 0;
}

.visit-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.text-spacing {
  margin: 24px 0;
}

.visit-content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}


.visit-column {
  flex: 1 1 40%
}
.visit-item {
  margin-top: 64px;
  border-top: 1px solid black;
}

.visit-item:nth-child(1),
.visit-item:nth-child(4) {
  margin-top: 0;
}

.prize-info {
  display: block;
  color: var(--priceInfo);
}

.price-link {
  color: var(--priceInfo);
  text-decoration: underline;
}

.prize-info-list {
  padding: 10px;
}



