:root {
  --brandGreen: #008855;
  --orange: #ff5000;
  --brandYellow: #e5e470;
  --brandBlue: #46aaea;
  --brandSalmon: #f9c5a5;
  --neutralsBlack: #2a2a2a;
}
body {
  font-family: "Albert Sans";
}
header {
  font-size: 24px;
  display: flex;
  height: 94px;
 
}

h2 {
    font-size: 48px; 
    font-weight: 300;
    padding: 60px;
}

/* h3 {
    color: #fff;
    font-size: 2rem;
} */
.bg-green {
    background-color: var(--brandGreen);
}

.bg-orange {
    background-color: var(--orange);
}
.navigation {
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;

    
}
.navbar {
  display: flex;
  flex-grow: 1;
  background-color: var(--brandGreen);
  height: 100%;
}

.navbar ul {
  display: flex;
  gap: 70px;
  align-items: center;
}
.navbar li {
    list-style-type: none;
}
.navbar a {
  display: flex;
  gap: 10px;
}

/* a {
    text-decoration: none;
    color: #fff;
} */

.navbar li img {
  width: 14px;
}

.tickets {
  background-color: #2a2a2a;
  text-transform: uppercase;
  padding: 32px 16px;
}

.language {
  background-color: #545454;
  text-transform: uppercase;
  padding: 32px 16px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  min-width: 194px;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.sub-logo {
  width: 97px;
}

.hero {
  position: relative;
}

.main-image {
    width: 100%;
  position: relative;
  object-fit: cover;
}

.image-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.image-arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
}



