/* General elements styling
====================================== */
.uppercase-text {
  text-transform: uppercase;
}

.source {
  margin-top: 40px;
  padding-left: 40px;
  font-style: italic;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.container-flex--gap {
  display: flex;
  gap: 8px;
}

.image__overlay__container {
  position: relative;
  width: 100%;
}

.image__overlay {
  position: absolute;
}

.list-flex {
  display: flex;
  padding: 0;
  gap: 10px;
}

.list {
  padding-left: 40px;
}

.list-item {
  list-style-type: square;
}

.text__color--primary {
  color: var(--senaryColor);
}

.text__color--secondary {
  color: var(--septenaryColor);
}

.text__color--tertiary {
  color: var(--primaryColor);
}

.image-border {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 6px;
}

.text-underline {
  text-decoration: underline;
}

.slashes::before,
.slashes:after {
  content: " / ";
}

.article__header {
  display: flex;
  gap: 32px;
}

@media (max-width: 1099px) {
  .article__header {
    flex-direction: column;
    align-items: center;
  }
}

.article__schedule {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
}

.article__text {
  font-family: Roboto;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 140%;
  margin: 24px 0;
}

.link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link--primary {
  color: black;
  text-decoration: underline;
}

.link--secondary {
  color: black;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 40px;
}

/* Website header / Navigation
=========================================== */


/* Hero section
======================================== */
.hero {
  height: 91vh;
  position: relative;
}
@media (max-width: 768px) {
  .hero {
    height: 96vh;
  }
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 50%;
}

.hero__overlay-text {
  bottom: 30px;
  left: 30px;
  position: absolute;
}
@media (max-width: 1175px) {
  .hero__overlay-text {
    display: none;
  }
}

.hero__overlay-text--small {
  display: none;
  bottom: 30px;
  left: 30px;
  position: absolute;
}
@media (max-width: 1175px) {
  .hero__overlay-text--small {
    display: block;
  }
}

.hero__arrow {
  bottom: 22px;
  right: 22px;
  width: 50px;
  position: absolute;
}
@media (max-width: 1175px) {
  .hero__arrow {
    width: 20px;
  }
}

/* Agenda section
========================================== */

.agenda__item {
  position: relative;
  flex: 1 1 450px;
}

.image__overlay--agenda {
  bottom: 24px;
  left: 24px;
}

@media (max-width: 460px) {
  .image__overlay--agenda {
    width: 200px;
  }
}
.agenda__item--secondary {
  background-color: var(--primaryColor);
}

.agenda__item--primary {
  background-color: var(--secondaryColor);
}

.agenda__image {
  width: 100%;
  object-fit: cover;
}
.agenda__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.agenda__content--primary {
  padding: 32px 32px 32px 120px;
}
.agenda__content--secondary {
  padding: 32px 120px 32px 32px;
}

@media (max-width: 799px) {
  .agenda__content {
    padding: 32px;
  }
}

/* highlight section
================================== */
.highlight {
  margin: 0 auto;
  max-width: 1340px;
}
.highlight__item {
  position: relative;
  background-color: var(--tertiaryColor);
  flex: 1 1 550px;
}
@media (max-width: 1099px) {
  .highlight .highlight__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 300px;
  }
}

.highlight__item__primary {
  padding: 32px 32px 32px 64px;
}
.highlight__item__secondary {
  padding: 32px 64px 32px 32px;
  border-left: 1px solid black;
}

@media (max-width: 1099px) {
  .highlight__item__secondary {
    border-left: none;
  }
}

.article__text--highlight {
  margin-top: 24px;
}

.highlight__image {
  width: 178px;
}
@media (max-width: 1099px) {
  .highlight__image {
    width: 393px;
  }
}

/* events styling
================================= */
.events__container {
  margin: 60px auto 120px;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 1272px;
}

.event__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-width: 1px;
  border-style: solid solid none none;
  flex-basis: 33.3333%;
  padding: 16px;
}

@media (max-width: 767px) {
  .event__item {
    flex-grow: 1;
    flex-basis: 51%;
    border-style: solid none none none;
  }
}

.event__item:nth-child(3):not(:last-child) {
  border-style: solid none;
}
@media (max-width: 767px) {
  .event__item:nth-child(3) {
    border-style: solid none none none;
  }
}

.event__item .event__item--secondary {
  border-style: solid none none none;
}

.event__item a {
  color: var(--senaryColor);
}

.event__item__image {
  width: 100%;
}

.--event__overlay {
  top: 32px;
  left: 32px;
  width: 48px;
  height: 48px;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}

/* footer styling
====================================== */
.footer__link {
  color: var(--senaryColor);
}

.footer__top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1512px;
  padding: 32px 16px 40px;
  border-top: 1px solid black;
  gap: 24px;
}
@media (min-width: 767px) {
  .footer__top {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 111px;
    justify-content: space-between;
  }
}

.footer__top__logo {
  min-width: 306px;
  display: none;
}
@media (min-width: 767px) {
  .footer__top__logo {
    display: block;
  }
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}
@media (min-width: 767px) {
  .footer__item {
    align-items: flex-start;
  }
}

.footer__item__logo {
  width: 80px;
}
@media (min-width: 767px) {
  .footer__item__logo {
    display: none;
  }
}

@media (min-width: 767px) {
  .show {
    display: block;
  }
}

.wrapper--footer__top {
  margin-left: 0;
}

.footer__title {
  font-size: 2.0625rem;
  font-weight: 500;
  line-height: 124%;
  padding: 0;
}

.footer__button {
  padding: 16px 24px;
  width: 100%;
  background-color: var(--primaryColor);
  color: var(--septenaryColor);
  text-align: center;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer__bottom {
  width: 100%;
  background-color: var(--senaryColor);
  padding: 12px;
}

.footer__bottom__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 1512px;
  margin: 0 auto;
  align-items: center;
  align-items: flex-start;
}

.footer__bottom__text {
  color: var(--septenaryColor);
}

.footer__list {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.footer__bottom__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 18px;
  justify-content: space-between;
}

@media (min-width: 767px) {
  .footer__bottom__wrapper {
    width: auto;
    justify-content: space-evenly;
  }
}
.footer__bottom__img {
  width: 66.72px;
}

/* About page styling
============================================== */

.content-container--about {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 842px;
  width: 95%;
  margin: 0 auto 20px;
  padding-top: 100px;
}

.image-padding {
  margin: 40px 0;
}

/* Exhibition styling
=============================== */
.content-container--exhibition {
  max-width: 1272px;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.exhibition {
  border-bottom: 1px solid black;
}

.exhibition__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.exhibition__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.exhibition__item {
  flex-basis: 45%;
  flex-grow: 1;
}

.content-container--video {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 950px;
  width: 90%;
  padding-top: 80px;
}

@media (max-width: 767px) {
  .content-container--video {
    margin: 0 auto;
  }
}

.preview {
  padding: 80px 120px 40px 0;
}

@media (max-width: 742px) {
  .preview {
    padding: 40px 0 24px;
  }
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.events__container--exhibition {
  margin-top: 0;
}

/* history styling
================================ */
.history-main {
display: flex;
}

@media (max-width: 768px) {
  .history-main {
    flex-direction: column;
  }
}
.content-container--history {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 966px;
  width: 95%;
  margin: 80px 80px 56px 0;
  padding-left: 40px;
}

.history-title {
  padding: 0;
  border-top: 1px solid black;
}

.container-flex-history {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.history-text {
display: flex;
flex-direction: column;
gap: 24px;
flex: 1 1 50%;
}

.history-image {
height: fit-content;
}

.collection {
  background-color: var(--senaryColor);
}

.collection__title {
  border-bottom: 1px solid white;
  color: white;
  padding: 16px 120px;
}
@media (max-width: 627px) {
  .collection__title {
    padding: 16px 16px;
  }
}

.collection__items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 120px;
}

@media (max-width: 768px){
.collection__items {
  padding: 0;
}
}

.collection__item {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
gap: 20px;
flex-basis:25%;
padding: 30px;
border-right: 1px solid white;
}
@media (max-width: 958px) {
  .collection__item {
    flex: 1 1 51%;
    border-right: none;
    border-top: 1px solid white;
  }
  .collection__item:nth-child(1) {
    border-top: none;
  }
}

.collection__item:nth-child(4) {
  border-right: none;
}

.sidenav {
  position:sticky;
  height: 200px;
  width: 300px;
  top: 174px;
  left: 0;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  border-right: 1px solid black;
}

@media (max-width: 768px) {
  .sidenav {
    top: 49px;
    align-items: flex-start;
    width: calc(100% - 53px);
    border-right: none;
  }
}

.sidenav a:hover {
  color: white;
}

/* Visit styling
============================= */

.content-container--visit {
  display: flex;
  flex-direction: column;
  max-width: 842px;
  width: 95%;
  margin: 80px auto;
  gap: 40px;
}


.content-container--visit h2 {
  padding: 0;
}

.visit-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.visit-spacing {
  margin: 24px 0;
}

.visit-content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}


.visit-column {
  flex: 1 1 40%
}
.visit-item {
  margin-top: 64px;
  border-top: 1px solid black;
}

.visit-item:nth-child(1),
.visit-item:nth-child(4) {
  margin-top: 0;
}

.prize-info {
  display: block;
  color: var(--priceInfo);
}

.price-link {
  color: var(--priceInfo);
  text-decoration: underline;
}

.prize-info-list {
  padding: 10px;
}



