.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 3.75rem auto 7.5rem;
  max-width: 79.5rem;
}

.event-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid black;
  flex-basis: 33.3333%;
  padding: 1rem;
}
@media (max-width: 767px) {
  .event-item {
    flex-grow: 1;
    flex-basis: 51%;
  }
}

.event-item:nth-child(2),
.event-item:nth-child(5) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
@media (max-width: 767px) {
  .event-item:nth-child(2),
  .event-item:nth-child(5) {
    border-right: none;
    border-left: none;
  }
}

.event-item:nth-child(3):not(:last-child) {
  border-bottom: 1px solid black;
}
@media (max-width: 767px) {
  .event-item:nth-child(3) {
    border-bottom: none;
  }
}

.event-image {
  width: 100%;
}

.event-overlay {
  top: 2rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: white;
  padding: .5rem;
  border-radius: 50%;
}

/* Events section on exhibition page
======================================= */
.events-title {
  padding: 5rem 7.5rem 2.5rem 0;
}

@media (max-width: 742px) {
  .events-title {
    padding: 2.5rem 0 1.5rem;
  }
}

.events-container--exhibition {
  margin-top: 0;
}