/* Footer top
======================================= */
.footer__top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1512px;
  padding: 32px 16px 40px;
  border-top: 1px solid black;
  gap: 24px;
}
@media (min-width: 767px) {
  .footer__top {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 111px;
    justify-content: space-between;
  }
}

.footer__logo {
  min-width: 306px;
  display: none;
}
@media (min-width: 767px) {
  .footer__logo {
    display: block;
  }
}

@media (min-width: 767px) {
  .footer__item {
    align-items: flex-start;
  }
}

.item-logo {
  width: 80px;
}
@media (min-width: 767px) {
  .item-logo {
    display: none;
  }
}

@media (min-width: 767px) {
  .show {
    display: block;
  }
}

.footer__title {
  font-size: 2.0625rem;
  font-weight: 500;
  line-height: 124%;
  padding: 0;
}

.footer__button {
  padding: 16px 24px;
  width: 100%;
  background-color: var(--primaryColor);
  color: var(--septenaryColor);
  text-align: center;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.social-border {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 6px;
}
/* Footer .footer__bottom
======================================= */
.footer__bottom {
  width: 100%;
  background-color: var(--senaryColor);
  padding: 12px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 1512px;
  margin: 0 auto;
  align-items: center;
  align-items: flex-start;
}

.footer-list {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 18px;
  justify-content: space-between;
}

@media (min-width: 767px) {
  .footer-wrapper {
    width: auto;
    justify-content: space-evenly;
  }
}
.footer-image {
  width: 66.72px;
}
