/* Standard navigation bar
======================================= */
.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.875rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .header {
    height: 3.0625rem;
    position: sticky;
    top: 0;
    left: 0;
  }
}

.header__navbar {
  display: flex;
  flex-grow: 1;
  background-color: var(--primaryColor);
  height: 100%;
  align-items: center;
  padding: 1.5rem;
}
@media (max-width: 1115px) {
  .header__navbar {
    display: none;
  }
}

.navbar__list {
  gap: 4rem;
  display: flex;
  padding: 0;
}

.nav-link {
  display: flex;
  gap: .375rem;
  font-size: 1.5rem;
}
@media (max-width: 1115px) {
  .nav-link {
    font-size: 0.9375rem;
  }
}
@media (max-width: 1400px) {
  .nav-link {
    font-size: 1.3125rem;
  }
}

.nav-link:hover .link-icon {
  transform: rotate(45deg);
}

.link-icon {
  width: .875rem;
}

/* Hamburger navigation bar
======================================= */
.hamburger-icon {
  padding-left: 1rem;
}
.hamburger-icon:hover {
  transform: scale(1.3);
}

.navbar-hamburger {
  display: none;
  flex-grow: 1;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
  height: 100%;
}
@media (max-width: 1115px) {
  .navbar-hamburger {
    display: flex;
  }
}
@media (max-width: 768px) {
  .navbar-hamburger {
    flex-grow: 0;
  }
}

/* Buy tickets and language button
======================================= */
.action {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: .5938rem 1.5rem;
  height: 100%;
  line-height: 1;
}

.action--primary {
  background-color: #2a2a2a;
}
@media (max-width: 768px) {
  .action--primary {
    flex-grow: 1;
  }
}

.action--secondary {
  background-color: #545454;
}

/* Header logo 
======================================= */

.header__logo {
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  flex-direction: column;
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .header__logo {
    width: 6.3125rem;
  }
}

.logo-image {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .logo-image--primary {
    max-width: 3.125rem;
    margin: .0625rem .1875rem;
  }
}

/* Header dropdown navigation 
(mobile + medium size)
======================================= */
.dropdown {
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  left: -100%;
  z-index: 1;
  width: calc(100% - 3.3125rem);
  max-width: 23.5625rem;
  height: 100vh;
  padding: 6.25rem 1rem;
  transition: 0.2s ease;
}

.dropdown__button {
  position: absolute;
  top: 2rem;
  left: .4375rem;
  z-index: 1;
  transform: rotate(45deg);
  font-size: 3.125rem;
  color: white;
  background: none;
  border: none;
}
@media (max-width: 768px) {
  .dropdown__button {
    top: .6875rem;
    left: .4375rem;
  }
}

.dropdown__button--secondary {
  color: black;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  flex-shrink: 1;
  padding: 0;
}

.nav-link--dropdown {
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  flex-direction: row-reverse;
  gap: .9375rem;
}

/* Black filler container
(mobile and small size)
======================================= */
@media (max-width: 480px) {
  .filler {
    background-color: var(--senaryColor);
    min-width: 3.3125rem;
    width: calc(100% - 23.5625rem);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.2s ease;
    pointer-events: none;
  }
}

/* Navigation bar colors
======================================= */
.navbar--primary {
  background-color: var(--primaryColor);
}

.navbar--secondary {
  background-color: var(--quaternaryColor);
}

.navbar--tertiary {
  background-color: var(--tertiaryColor);
}

.navbar--quarternary {
  background-color: var(--quinaryColor);
}

.navbar--tertiary a,
.navbar--quarternary a {
  color: black;
}

/* Javascript click event classes
======================================= */
.toggle {
  left: 0;
}

.filler--toggle {
    opacity: 1;
  }
