.visit-container {
  display: flex;
  flex-direction: column;
  max-width: 52.625rem;
  width: 95%;
  margin: 5rem auto;
  gap: 2.5rem;
}

.visit-header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.visit-title {
  padding: 0;
}

.visit-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.visit-column {
  flex: 1 1 40%;
}
.visit-item {
  margin-top: 4rem;
  border-top: 1px solid black;
}

.visit-item:nth-child(1),
.visit-item:nth-child(4) {
  margin-top: 0;
}

.text-spacing {
  margin: 1.5rem 0;
}

.prize-info {
  display: block;
  color: var(--priceInfo);
}

.price-link {
  color: var(--priceInfo);
  text-decoration: underline;
}

.prize-list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: .625rem;
}
